/*-- scss:defaults --*/
$body-bg: white;

/*-- scss:rules --*/
//navbar brand font
.navbar-dark .navbar-brand {
  font-family: "Futura", "Roboto";
  font-size: $font-size-base * 1.4;
  color: white;
}

#hero-heading {
  max-width: 100%;
  font-size: 1.08rem;
}

#hero-heading a:visited {
  color: #1565c0;
}

#hero-heading a:link {
  color: #1565c0;
}

a:link {
  color: #1565c0;
}
a:visited {
  color: #4C85F1;
}